body{
    background-color: rgb(127, 254, 163);
}
.heading{
    font-size: 25px;
    color:rgb(0, 101, 97);
    width:80%;
    font-family: fantasy;
    font-style:bold;
}
#camera{
    border:2px dashed rgb(103, 53, 53);
    width:350px;
    height:300px;
}